*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    width: 100%;
    height: 100vh;
    background: url(file:///D:/Codsoft%20Internship/Landing%20Page/background.jpeg);
    background-size: cover;
}

nav{
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    font-size: 35px;
    letter-spacing: 2px;
}
.menu a{
    text-decoration: none;
    color: white;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    font-weight: bold;
}

.menu a:hover{
    color: orange;
    font-size: 30px;
}

button{
    background-color: aquamarine;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
button:hover{
    font-size: 35px;
    font-weight: bold;
    border-radius: 10px;

}

.Text{
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.Text span{
    letter-spacing: 5px;
}
.Text h1{
    font-size: 3.5em;
}
.Text a{
    text-decoration: none;
    background: indianred;
    color: white;
    letter-spacing: 5px;

}

p{
    font-size: 25px;
    color: black;
    font-style: italic;
    text-align: center;
}