*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #6ed5f1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    height: 60px;
    width: 60px;
    border-radius: 15px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(9, 43, 233, 0.2);
font-weight: bold;
font-size: large;
background: transparent;
cursor: pointer;
    margin: 10px;

}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    color: white;
    background-color: black;
    font-size: 30px;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    font-weight: bold;
    color: white;
}